name: Deploy-DEV
on:
push:
branches: [ dev ]


jobs:
deploy:
runs-on: windows-latest
steps:
- uses: actions/checkout@v4


- name: Run DB build
run: |
sqlcmd -S ${{ secrets.DEV_DB_HOST }} -U ${{ secrets.DEV_DB_USER }} -P ${{ secrets.DEV_DB_PASS }} -i database/deploy/build-dev-db.sql
